/* your styles go here */
body{
    overflow-y: hidden;
}

#main-section{
    height: calc(100vh);
    overflow-y: hidden;
    padding-top: 0;
}

#main{
    width: 100%;
    border:none;
    height: 100%;
}