<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k66.cxzt.mapper.InvoiceMapper">
    <resultMap id="invoice" type="com.k66.cxzt.model.Invoice">
        <result column="id" property="id"></result>
        <result column="number" property="number"></result>
        <result column="code" property="code"></result>
        <result column="date" property="date"></result>
        <result column="type" property="type"></result>
        <result column="invoice_type" property="invoiceType"></result>
        <result column="buyer_name" property="buyerName"></result>
        <result column="buyer_tax_no" property="buyerTaxNo"></result>
        <result column="buyer_addr_tel" property="buyerAddrTel"></result>
        <result column="buyer_bank" property="buyerBank"></result>
        <result column="seller_name" property="sellerName"></result>
        <result column="seller_tax_no" property="sellerTaxNo"></result>
        <result column="seller_addr_tel" property="sellerAddrTel"></result>
        <result column="seller_bank" property="sellerBank"></result>
        <result column="amount_tax" property="amountTax"></result>
        <result column="amount" property="amount"></result>
        <result column="tax_amount" property="taxAmount"></result>
        <result column="package_id" property="packageId"></result>
        <result column="user_id" property="userId"></result>
        <association property="invoiceDetailList" column="id" select="com.k66.cxzt.mapper.InvoiceDetailMapper.queryByInvoiceId"></association>
    </resultMap>

    <insert id="add" parameterType="com.k66.cxzt.model.Invoice">
        insert into t_invoice(
        id,number,code,date,type,invoice_type,
        buyer_name,buyer_tax_no,buyer_addr_tel,buyer_bank,
        seller_name,seller_tax_no,seller_addr_tel,seller_bank,
        amount_tax,amount,tax_amount,package_id,user_id
        ) values (
        #{id},#{number},#{code},#{date},#{type},#{invoiceType},
        #{buyerName},#{buyerTaxNo},#{buyerAddrTel},#{buyerBank},
        #{sellerName},#{sellerTaxNo},#{sellerAddrTel},#{sellerBank},
        #{amountTax},#{amount},#{taxAmount},#{packageId},#{userId}
        )
    </insert>

    <insert id="batchAdd" parameterType="com.k66.cxzt.model.Invoice">
        insert into t_invoice(
        id,number,code,date,type,invoice_type,
        buyer_name,buyer_tax_no,buyer_addr_tel,buyer_bank,
        seller_name,seller_tax_no,seller_addr_tel,seller_bank,
        amount_tax,amount,tax_amount,package_id,user_id
        ) values
        <foreach collection="list" item="data" separator=",">
            (
            #{data.id},#{data.number},#{data.code},#{data.date},#{data.type},#{data.invoiceType},
            #{data.buyerName},#{data.buyerTaxNo},#{data.buyerAddrTel},#{data.buyerBank},
            #{data.sellerName},#{data.sellerTaxNo},#{data.sellerAddrTel},#{data.sellerBank},
            #{data.amountTax},#{data.amount},#{data.taxAmount},#{data.packageId},#{data.userId}
            )
        </foreach>
    </insert>

    <select id="getCountByNumberAndCode" resultType="map">
        select number,
               code,
               count(id) count
          from t_invoice
         where number in
               <foreach collection="list" open="(" close=")" separator="," item="pair">
                   #{pair.left}
               </foreach>
           and code in
               <foreach collection="list" open="(" close=")" separator="," item="pair">
                   #{pair.right}
               </foreach>
      group by number , code
    </select>

    <select id="queryForList" parameterType="map" resultMap="invoice">
        select id,
               number,
               code,
               date,
               type,
               invoice_type,
               buyer_name,
               buyer_tax_no,
               buyer_addr_tel,
               buyer_bank,
               seller_name,
               seller_tax_no,
               seller_addr_tel,
               seller_bank,
               amount_tax,
               amount,
               tax_amount,
               package_id,
               user_id
          from t_invoice
        <where>
            <if test="null != packageId">
                and package_id = #{packageId}
            </if>
            <if test="null != userId">
                and user_id = #{userId}
            </if>
            <if test="null != number">
                and number = #{number}
            </if>
            <if test="null != code">
                and code = #{code}
            </if>
            <if test="null != type">
                and type = #{type}
            </if>
            <if test="null != invoiceType">
                and invoice_type = #{invoiceType}
            </if>
            <if test="null != buyerName">
                and buyer_name = #{buyerName}
            </if>
            <if test="null != sellerName">
                and sellr_name = #{sellerName}
            </if>
            <if test="null != nickName">
                and user_id = (
                select id
                  from t_user
                 where nick_name = #{nickName}
                )
            </if>
            <if test="null != packageIds">
                and package_id in
                <foreach collection="packageIds" open="(" close=")" separator="," item="packageId">
                    #{packageId}
                </foreach>
            </if>
        </where>
        order by date desc
    </select>
</mapper>